@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Geist";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);

  --color-anafad-primary-blue: #001f3f;

  --color-anafad-primary-platinum: #cccccc;

  --color-anafad-primary-gray: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", sans-serif sans-serif;
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}
